<h1>Robots</h1>


<ul class="list-group">
<% @robots.each do |robot| %>
  <h3>
    <li class="list-group-item">
      <span class="badge"><a href="robots/<%= robot.id %>/edit">Edit</a></span>
      <a href="/robots/<%= robot.id %>"><%= robot.name %></a>
    </li>
  </h3>

  <form class="" action="/robots/<%= robot.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete" class="btn btn-default">
  </form>
<%end%>
</ul>

<h3><a href="/">Home</a></h3>
