<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      </button>
      <a class="navbar-brand" href="/">Robot World</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li id="new"><a href="/robots/new">New</a></li>
    </ul>
  </div>
</nav>


<ul class="list-group">
  <% @found_robos.each do |robot| %>
    <h3>
      <li class="list-group-item">
        <span class="badge"><a href="robots/<%= robot.id %>/edit">Edit</a></span>
        <a href="/robots/<%= robot.id %>"><%= robot.name %></a>
      </li>
    </h3>

    <form class="" action="/robots/<%= robot.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete" class="btn btn-default">
    </form>
  <%end%>
</ul>
